html, body{
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    object-fit: cover;
    align-items: center;
    background-size: cover;
    background-position:center;
    overflow: hidden;
   
}